@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #00acee;
		background-image: url('c:\users\gabriel_hachmann\source\repos\twitterappgabriel\twitterappgabriel\twitterlogo.jpg');
    }
</style>
    
<div class="text-center">
    <h1 style="font-size:800%;" class="display-4">Welcome to Twitter!</h1>

    <img src="~/images/twitter.png" class="mx-auto d-block" style="width:35%" />

</div>
