@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>We do not disclose your private personal information except in the limited circumstances described here. <br>Public Information: We may share or disclose your public information, such as your public user profile information, public Tweets, or the people you follow or that follow you.</p>
